<main class="container">
    <h1 class="text-primary my-3 ">Desubre los Muebles Inteligentes</h1>
    <section class="row g-2 g-md-3 ">
        <article class="col-12 col-md-6">
            <div class="card card-shadowed shadow-lg border-0 h-100 card-descubre-bg-color mb-2 mb-md-3 ">
                <img src="../../../assets/images/card-1.jpeg " class="card-img-top card-img-descubre" alt="mesa">
                <div class="card-body ">
                    <h1 class="card-title text-light text-center ">Ver todos Muebles</h1>
                </div>
                <button class="btn btn-lg text-light ">
                  <i class="bi bi-arrow-right-circle fs-1 "></i>
              </button>
            </div>
        </article>
        <article class="col-12 col-md-6">
            <div class="card card-shadowed shadow-lg h-100 border-0 card-descubre-bg-color mb-3 ">
                <img src="../../../assets/images/card-4.png" class="card-img-top card-img-descubre">
                <div class="card-body ">
                    <h1 class="card-title text-light text-center ">Mas sobre nuestra tecnologia
                    </h1>
                </div>
                <button class="btn btn-lg text-light ">
                  <i class="bi bi-arrow-right-circle fs-1 "></i>
              </button>
            </div>
        </article>
    </section>
    <h1 class="text-primary my-3 ">Nuestros servicios</h1>
    <div class="container-fluid ">
        <section class="row g-2 mb-3 ">
            <article class="col-12 col-sm-6 col-md-3 ">
                <div class="card card-shadowed shadow-lg border-0 h-100 card-serv-bg-color mb-2 mb-md-3 ">
                    <div class="card-body pt-3 ">
                        <h1 class="text-center text-light pt-3 "><i class="bi bi-pencil "></i></h1>
                        <p class="card-title fs-3 text-light text-center ">Planificacion</p>
                    </div>
                    <button class="btn btn-lg text-light ">
                  <i class="bi bi-arrow-right-circle fs-1 "></i>
              </button>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-3 ">
                <div class="card card-shadowed shadow-lg border-0 h-100 card-serv-bg-color mb-2 mb-md-3 ">
                    <div class="card-body pt-3 ">
                        <h1 class="text-center text-light pt-3 "><i class="bi bi-cart-check "></i></h1>
                        <p class="card-title fs-3 text-light text-center ">Envio a domicilio</p>
                    </div>
                    <button class="btn btn-lg text-light ">
                  <i class="bi bi-arrow-right-circle fs-1 "></i>
              </button>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-3 ">
                <div class="card card-shadowed shadow-lg border-0 h-100 card-serv-bg-color mb-2 mb-md-3 ">
                    <div class="card-body pt-3 ">
                        <h1 class="text-center text-light pt-3 "><i class="bi bi-telephone-inbound "></i>
                        </h1>
                        <p class="card-title fs-3 text-light text-center">Venta telefonica</p>
                    </div>
                    <button class="btn btn-lg text-light">
                  <i class="bi bi-arrow-right-circle fs-1 "></i>
              </button>
                </div>
            </article>
            <article class="col-12 col-sm-6 col-md-3">
                <div class="card card-shadowed shadow-lg border-0 h-100 card-serv-bg-color mb-2 md-mb-3">
                    <div class="card-body pt-3 ">
                        <h1 class="text-center text-light pt-3 "><i class="bi bi-currency-euro"></i></h1>
                        <p class="card-title fs-3 text-light text-center ">Facilidades de pago</p>
                    </div>
                    <button class="btn btn-lg text-light ">
                  <i class="bi bi-arrow-right-circle fs-1 "></i>
                  </button>
                </div>
            </article>
        </section>
    </div>
    <div class="container w-sm-25 w-md-50 w-lg-75 my-4">
        <h1 class="text-primary ">Donde estamos:</h1>
        <div class="row">
            <div class="col-12 mx-auto">
                <div id="map" class="shadow-lg"></div>
            </div>
        </div>
    </div>
</main>