<main class="container">
    <h1 class="text-center text-primary mt-3">Editar pedido</h1>
    <div class="row">
        <div class="col-12 mx-auto my-auto bg-light rounded-3">
            <form class="mx-auto col-10 p-2" [formGroup]="shippingForm" (ngSubmit)="sentOrder()">
                <h2 class="text-center text-primary mx-3">Domicilio</h2>
                <div>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="direction" placeholder="Calle, numero, piso, puerta" name="direction" [formControlName]="'direction'" required="required">
                        <label for="direction" class="form-label ">Dirección:</label>
                        <span class="text-danger" *ngIf="!shippingForm.get('direction')?.valid && shippingForm.get('direction')?.touched">
                          ¡La dirección es obligatoria!
                    </span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="post_code" placeholder="Introduzca codigo postal " [formControlName]="'post_code'" name="post_code" required="required ">
                                <label for="post_code" class="form-label ">Código postal:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('post_code')?.valid && shippingForm.get('post_code')?.touched">
                                  ¡El código postal es obligatorio!
                            </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2 ">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="muni " placeholder="Introduzca municipio" [formControlName]="'city'" name="city" required="required">
                                <label for="city" class="form-label ">Municipio:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('city')?.valid && shippingForm.get('city')?.touched">
                                  ¡El municipio es obligatorio!
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="col-12 col-md-6">
                                <div class="form-floating mt-2 ">
                                    <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" placeholder="Introduzca municipio" id="state" [formControlName]="'state'" name="state" required="required">
                                    <label for="state" class="form-label ">Provincia:</label>
                                    <span class="text-danger" *ngIf="!shippingForm.get('state')?.valid && shippingForm.get('state')?.touched">
                                  ¡La provincia es obligatoria!
                              </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" placeholder="Introduzca municipio" id="state" [formControlName]="'country'" id="country" name="country" required="required">
                                <label for="country" class="form-label">País:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('country')?.valid && shippingForm.get('country')?.touched">
                                ¡El país es obligatorio!
                             </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <button class="btn btn-success rounded-0 mt-1" type="submit">Modificar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</main>