<main class="container">
    <h1 class="text-center text-primary mt-3">Pedir cita con el administrador</h1>
    <div class="row">
        <form class="container w-100 w-lg-75" [formGroup]="applyMsg" (ngSubmit)="apply()">
            <div class="row">
                <div class="col-12 col-md-8 mx-auto my-auto">
                    <div class="form-floating mt-2 ">
                        <select id="admin_id" name="admin_id" class="form-select rounded-0 border-top-0 border-start-0 border-end-0" [formControlName]="'admin_id'">
                          <option *ngFor="let admin of this.admins" value="{{admin.id}}">
                            {{admin.name}}
                          </option>
                        </select>
                        <label for="admin_id" class="form-label ">Administrador:</label>
                        <span class="text-danger" *ngIf="!applyMsg.get('admin_id')?.valid && applyMsg.get('admin_id')?.touched">
                          Tiene que eligir un administrador
                      </span>
                    </div>
                    <div class="form-floating mt-2 ">
                        <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="date" name="date" [formControlName]="'date'" required="required">
                        <label for="price" class="form-label ">Fecha:</label>
                        <span class="text-danger" *ngIf="!applyMsg.get('date')?.valid && applyMsg.get('date')?.touched">
                              La fecha debe tener formato dd/mm/2022
                          </span>
                    </div>
                    <div class="form-floating mt-2 ">
                        <input type="time" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="time" name="time" [formControlName]="'time'" required="required" step="300">
                        <label for="time" class="form-label ">Hora:</label>
                        <span class="text-danger" *ngIf="!applyMsg.get('time')?.valid && applyMsg.get('time')?.touched">
                          El tiempo es obligatorio!
                        </span>
                    </div>
                    <div class="mt-5">
                        <div class="d-grid col-12 mb-5 mx-auto">
                            <button id="submit" class="btn btn-buscar" href="#">
                            <i class="bi bi-check2 text-light fs-3"></i>
                          </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</main>
