<main class="container">
    <div class="row m-1">
        <div class="col-12 col-md-8 card card-serv-bg-color rounded shadow border-0 text-light mx-auto mt-3">
            <div class="card-body text-center">
                <h1 class="card-title">Nombre: {{user.name}}</h1>
                <h2 class="card-title">Apellidos: {{user.surname}}</h2>
                <p class="card-text">Correo electrónico: {{user.email}}</p>
                <p class="card-text ">Role: {{user.role}}</p>
                <div class="row g-1">
                    <a *ngIf="user_id == user.id" class="btn btn-warning fs-4" [routerLink]="['/resetpswd'] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Modificar contraseña</a>
                    <a *ngIf="user_id == user.id" class="btn btn-warning text-light fs-4" [routerLink]="[ '/users/edit',user.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Modificar datos</a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-3" *ngIf="user_role == 'admin' && user.name != user_name">
        <h1 class="text-center text-primary">Pedidos de usuario</h1>
        <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2 justify-content-center mt-3" *ngIf="orders.length && orders; else not">
            <article class="col" *ngFor="let order of orders">
                <div class="card rounded shadow border-0 h-100 mb-2 mb-md-3">
                    <div class="card-body text-secondary text-center">
                        <h1 class="card-title text-primary">ID: {{order.id}}</h1>
                        <p class="card-text ">Precio total: {{order.total_price |currency:'EUR':'symbol-narrow'}}</p>
                        <p class="card-text ">Estado: {{order.status}}</p>
                    </div>
                    <a class="btn btn-success rounded-0 fs-4 mt-1" (click)="delieveredOrder(order.id)" *ngIf="order.status == 'pagado' && user_role == 'admin' && order.id">Marcar el pedido como entregado</a>
                    <a class="btn btn-info rounded-0 fs-4" [routerLink]="[ '/orders', order.id] " [queryParams]="{ ended: 1 }" [routerLinkActive]=" [ 'active'] " [routerLinkActiveOptions]="{exact:true} " *ngIf="order.status == 'ended' && user_role != 'admin'">Escribir reseña</a>
                    <a class="btn btn-delete rounded-0 fs-4 text-light" *ngIf="order.status != 'terminado' && order.id" (click)="deleteOrder(order.id)">Eliminar pedido</a>
                    <a class="btn btn-buscar rounded-0 fs-4 text-light" [routerLink]="[ '/orders', order.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Más Info</a>
                </div>
            </article>
        </section>
        <ng-template #not>
            <h3 class="text-primary text-center">No hay pedidos.</h3>
        </ng-template>
    </div>
    <div *ngIf="user_role!='admin'">
        <h1 class="text-center text-primary mt-3">Sus pedidos terminados:</h1>
        <div class="d-block">
            <canvas class="chart-style" baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend">
          </canvas>
        </div>
    </div>
</main>
