<main class="container">
    <h1 class="text-center text-primary">Restablecer la contraseña</h1>
    <form class="my-auto" [formGroup]="resetPasswordForm" (ngSubmit)="changePassword()">
        <div class="row">
            <div class="col-12 col-lg-7 col-xl-5 mx-auto">
                <div class="row">
                    <div class="col-12 ">
                        <div class="form-floating mt-2 ">
                            <input type="password" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="password" [formControlName]="'password_confirm'" placeholder="1111 " name="password " required="required">
                            <label for="password" class="form-label ">Contraseña:</label>
                            <span class="text-danger" *ngIf="!resetPasswordForm.get('password_confirm')?.valid &&  resetPasswordForm.get('password_confirm')?.touched">
                          La contraseña debe tener como minimo 8 caracteres.
                        </span>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="form-floating mt-2 ">
                            <input type="password" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 " id="password " [formControlName]="'password'" placeholder="1111 " name="password " required="required ">
                            <label for="password" class="form-label ">Contraseña:</label>
                            <span class="text-danger" *ngIf="!resetPasswordForm.get('password')?.valid && resetPasswordForm.get('password')?.touched">
                        La contraseña debe tener como minimo 8 caracteres.
                      </span>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 ">
                    <div class="d-grid col-12 mb-5 mx-auto ">
                        <button class="btn btn-primary" type="submit">Entrar</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</main>