<main class="container">
    <section class="row row-cols-1 row-cols-md-3  g-4 justify-content-center mt-3" *ngIf="orders.length && orders; else not">
        <article class="col" *ngFor="let order of orders">
            <div class="card rounded shadow border-0 h-100 text-secondary">
                <div class="card-body text-center">
                    <h1 class="card-title text-primary">ID: {{order.id}}</h1>
                    <p class="card-text">Precio total: {{order.total_price |currency:'EUR':'symbol-narrow'}}</p>
                    <p class="card-text">Estado: {{order.status}}</p>
                </div>
                <a class="btn btn-success rounded-0 fs-4 mt-1" (click)="delieveredOrder(order.id)" *ngIf="order.status == 'pagado' && user_role == 'admin' && order.id">Marcar el pedido como entregado</a>
                <a class="btn btn-info rounded-0 fs-4" [routerLink]="[ '/orders', order.id] " [queryParams]="{ ended: 1 }" [routerLinkActive]=" [ 'active'] " [routerLinkActiveOptions]="{exact:true} " *ngIf="order.status == 'ended' && user_role != 'admin'">Escribir reseña</a>
                <a class="btn btn-delete rounded-0 fs-4 text-light" *ngIf="order.status != 'ended' && order.id" (click)="deleteOrder(order.id)">Eliminar pedido</a>
                <a class="btn btn-buscar rounded-0 fs-4 text-light" [routerLink]="[ '/orders', order.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Mas Info</a>
            </div>
        </article>
    </section>
    <ng-template #not>
        <h1 class="text-center text-primary mt-3">No hay pedidos.</h1>
    </ng-template>
</main>
