<main class="container">
    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2" *ngIf="orders.length && orders; else not">
        <article class="col" *ngFor="let order of orders">
            <div class="card h-100 card-shadowed border-0 card-descubre-bg-color mb-2 mb-md-3 ">
                <div class="card-body text-light text-center ">
                    <h1 class="card-title ">ID: {{order.id}}</h1>
                    <p class="card-text ">Precio total: {{order.total_price |currency:'EUR':'symbol-narrow'}}</p>
                    <p class="card-text ">Estado: {{order.status}}</p>
                </div>
                <div class="card-footer text-center" *ngIf="order.status == 'paid' && user_role == 'admin' && order.id">
                    <a class="nav-link text-light fs-4 " (click)="delieveredOrder(order.id)">Marcar el pedido como entregado</a>
                </div>
                <div class="card-footer bg-danger text-center" *ngIf="order.status != 'ended' && order.id">
                    <a class="nav-link text-light fs-4 " (click)="deleteOrder(order.id)">Eliminar pedido</a>
                </div>
                <div class="card-footer text-center" *ngIf="order.status == 'ended' && user_role != 'admin'">
                    <a class="nav-link text-light fs-4 " [routerLink]="[ '/orders', order.id] " [queryParams]="{ ended: 1 }" [routerLinkActive]=" [ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Escribir las reseñas del producto</a>
                </div>
                <div class="card-footer bg-info text-center ">
                    <a class="nav-link text-light fs-4 " [routerLink]="[ '/orders', order.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Mas Info</a>
                </div>
            </div>
        </article>
    </section>
    <ng-template #not>
        <h3>No hay pedidos.</h3>
    </ng-template>
</main>