<main class="container">
    <h1 class="text-center text-primary mt-3">Cesta:</h1>
    <p *ngIf="products.length == 0" class="text-center text-primary">La cesta esta vacia</p>
    <div *ngIf="products.length !== 0">
        <section class="col-12 row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xxl-4 justify-content-center g-3">
            <article *ngFor="let product of products">
                <div class="col">
                    <div class="card rounded shadow border-0 h-100 mb-2 text-secondary">
                        <img src="{{product.product.image_url}}" class="img-fluid card-img-descubre" alt="mesa">
                        <div class="card-body text-center ">
                            <h1 class="card-title">{{product.product.name}}</h1>
                            <p class="card-text">{{product.product.price |currency:'EUR':'symbol-narrow'}}</p>
                            <p class="card-text text-danger" *ngIf="show_msg">Queda solamente: {{product.product.amount}}</p>
                            <p class="text-center text-primary">Cantidad a comprar: {{product.amount}}</p>
                            <button id="submit" class="btn btn-outline-danger fs-4" (click)="removeProdFromOrder(product.product)">
                          Eliminar 1 producto
                        </button>
                        </div>
                    </div>
                </div>
            </article>
        </section>
        <div class="col-12  mx-auto my-auto bg-light rounded-3 mt-3">
            <form class="mx-auto col-10 p-2" [formGroup]="shippingForm" (ngSubmit)="sentOrder()">
                <h2 class="text-center text-primary mx-3">Domicilio</h2>
                <div>
                    <div class="form-floating">
                        <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="direction" placeholder="Calle, numero, piso, puerta" name="direction" [formControlName]="'direction'" required="required">
                        <label for="direction" class="form-label ">Dirección:</label>
                        <span class="text-danger" *ngIf="!shippingForm.get('direction')?.valid && shippingForm.get('direction')?.touched">
                          ¡La dirección es obligatoria!
                      </span>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="post_code" placeholder="Introduzca codigo postal " [formControlName]="'post_code'" name="post_code" required="required ">
                                <label for="post_code" class="form-label ">Código postal:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('post_code')?.valid && shippingForm.get('post_code')?.touched">
                                  ¡El código postal es obligatorio!
                              </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2 ">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="city" placeholder="Introduzca municipio" [formControlName]="'city'" name="city" required="required">
                                <label for="city" class="form-label ">Municipio:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('city')?.valid && shippingForm.get('city')?.touched">
                                  ¡El municipio es obligatorio!
                              </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2 ">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" placeholder="Introduzca municipio" id="state" [formControlName]="'state'" name="state" required="required">
                                <label for="state" class="form-label ">Provincia:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('state')?.valid && shippingForm.get('state')?.touched">
                                  ¡La provincia es obligatoria!
                              </span>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" placeholder="Introduzca municipio" id="state" [formControlName]="'country'" id="country" name="country" required="required">
                                <label for="country" class="form-label">País:</label>
                                <span class="text-danger" *ngIf="!shippingForm.get('country')?.valid && shippingForm.get('country')?.touched">
                                  ¡El país es obligatorio!
                               </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt-5 ">
                    <div class="d-grid col-7 mb-5 mx-auto ">
                        <button class="btn btn-primary" type="submit">Comprar productos!</button>
                    </div>
                </div>
                <h3 class="text-primary text-center">Precio total: {{precio_total |currency:'EUR':'symbol-narrow' }}</h3>
            </form>
        </div>
    </div>
</main>
