<main class="container">
    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-4 mt-4 justify-content-center" *ngIf="appointments.length && appointments; else not">
        <article *ngFor="let appointment of appointments">
            <div class="card card-background-card rounded shadow border-0 h-100 mx-auto mt-4">
                <div class="card-body text-light text-center ">
                    <h1 class="card-title ">Tienes la cita en:</h1>
                    <h1 class="card-title ">Fecha: {{appointment.date}}</h1>
                    <p class="card-text ">Hora: {{appointment.time}}</p>
                    <p class="card-text ">User: {{appointment.user_id}}</p>
                </div>
                <button class="btn btn-success rounded-0 fs-4 " role="button" [ngClass]="{'disabled' : disabled}" [routerLink]="[ '/messages', appointment.user_id] " [routerLinkActive]="[ 'active']" [routerLinkActiveOptions]="{exact:true} ">Entrar!</button>
                <button *ngIf="user_role === 'admin'" class="btn btn-delete rounded-0 fs-4 " role="button" (click)="deleteAppointment(appointment.id)">Borrar Cita!</button>
            </div>
        </article>
    </section>
    <ng-template #not>
        <h1 class="text-center text-primary mt-4">No existen las citas</h1>
    </ng-template>
</main>
