<div class="container">
    <h1 class="text-center gradient mt-4  mb-4">Editar la cuenta de usuario!</h1>
    <form id="form-no" class="container w-100 w-lg-75" [formGroup]="modUserForm" (ngSubmit)="modificarUser()">
        <div class="row">
            <div class="d-none d-lg-block col-lg-5 col-xl-7 my-auto">
                <img class="img-fluid mb-1" src="../assets/images/img-reg-1.jpg">
            </div>
            <div class="col-12 col-lg-7 col-xl-5 m-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class=" text-center text-primary ">Nombre y apellidos</h2>
                        <div class="form-floating mt-2">
                            <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="name" [formControlName]="'name'" placeholder="Elon" name="name" minlength="5" maxlength="60" required="required">
                            <label for="name" class="form-label ">Nombre:</label>
                            <span class="text-danger" *ngIf="!modUserForm.get('name')?.valid && modUserForm.get('name')?.touched">
                             El nombre no es valido. Nombre es obligatorio y debe tener y maximo 20 carcacteres!
                          </span>
                        </div>
                        <div class="form-floating mt-2 ">
                            <input type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="surname" [formControlName]="'surname'" placeholder="Musk" name="surname" required="required">
                            <label for="surname" class="form-label ">Apellidos:</label>
                            <span class="text-danger" *ngIf="!modUserForm.get('surname')?.valid && modUserForm.get('surname')?.touched">
                            Apellidos no es valido. Apellidos es obligatorio y debe tener y maximo 50 carcacteres!
                         </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class=" text-center text-primary mt-4">Correo electronico y contraseña</h2>
                    <div class="form-floating mt-2 ">
                        <input type="email" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="email" placeholder="a@algo.com " [formControlName]="'email'" name="email" required="required">
                        <label for="email" class="form-label ">Correo electronico:</label>
                        <span class="text-danger" *ngIf="!modUserForm.get('email')?.valid && modUserForm.get('email')?.touched">
                       Correo electronico es obligatorio y debe tener formato de correo electronico!
                     </span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mt-2 " *ngIf="role === 'admin'">
                    <select id="role" name="role" [formControlName]="'role'" class="form-select" aria-label="select filter">
                          <option value="admin">Administrdor</option>
                          <option value="normal_user">Usuario commun</option>
                        </select>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="d-grid col-12 mb-5 mx-auto">
                <button id="submit" class="btn btn-buscar" href="#">
                        <i class="bi bi-check2 text-light fs-3"></i>
                    </button>
                <button id="submit" class="btn btn-danger mt-2" href="#" (click)="deleteUser()">
                    Eliminar la cuenta
                </button>
            </div>
        </div>
    </form>
</div>