<main class="container mt-3">
    <section class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3 justify-content-center" *ngIf="users.length && users; else not">
        <article class="col" *ngFor="let user of users">
            <div class="card rounded shadow border-0 h-100 mb-2 mb-md-3">
                <div class="card-body text-secodnary text-center">
                    <h1 class="card-title text-primary">Nombre: {{user.name}}</h1>
                    <p class="card-text ">Apellidos: {{user.surname}}</p>
                    <p class="card-text ">Correo electrónico: {{user.email}}</p>
                    <p class="card-text ">Role: {{user.role}}</p>
                </div>
                <a class="btn btn-success rounded-0 text-light" *ngIf="user.role == 'normal_user' || (user.id == user_id && user.role == 'admin')" [routerLink]="[ '/users/edit/', user.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Editar</a>
                <a class="btn btn-buscar rounded-0 text-light" [routerLink]="[ '/users', user.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Más Info</a>
            </div>
        </article>
    </section>
    <ng-template #not>
        <h3>No hay usuarios.</h3>
    </ng-template>
</main>
