<main class="container">
    <div class="card card-background-card rounded shadow border-0 mx-auto col-12 col-md-8 col-lg-4 mt-4">
        <img class="img-fluid" src="{{ product.image_url }}" />
        <div class="card-body text-center text-light">
            <h1 class="card-title">{{ product.name }}</h1>
            <p class="card-text">Descripcion: {{ product.description }}</p>
            <p class="card-text ">Precio: {{ product.price | currency: "EUR":"symbol-narrow" }}
            </p>
            <p class="card-text text-danger" *ngIf="show_msg">Queda solamente: {{product.amount}}</p>
            <p class="card-text">Valoracion mediano: {{ medianValoration() }}/5</p>
            <form class="container w-100 w-lg-75 p-2" [formGroup]="amountForm" (ngSubmit)="addProdToOrder()" *ngIf="btn_active">
                <input *ngIf="role !== 'admin'" type="number" class="form-control" placeholder="Cantidad a comprar" [formControlName]="'amount_to_buy'" min="0" max="10" />
                <div class="text-danger mt-3 mb-3" *ngIf="!amountForm.get('amount_to_buy')?.valid && amountForm.get('amount_to_buy')?.touched">
                    La cantidad a comprar debe ser un número entre 0 y 10
                </div>
                <button id="submit" *ngIf="role != null && role != 'admin'" class="btn btn-outline-light fs-4 mt-2" [ngClass]="btn_active? '': 'disabled'">
                    Agregar Al Carrito
                  </button>
            </form>
            <p class='text-danger' *ngIf="!btn_active">Producto esta agotado</p>
            <div class="d-grid gap-2 mx-auto m-2" *ngIf="role === 'admin'">
                <a class="btn btn-warning" [routerLink]="[ '/products/edit/',product.id] " [routerLinkActive]="[ 'active'] " [routerLinkActiveOptions]="{exact:true} ">Editar Producto</a>
            </div>
        </div>
    </div>
    <h1 class="text-center text-primary mt-2">Commentarios de clientes reales</h1>
    <div class="col-12  mx-auto" *ngIf="comments.length && comments; else not">
        <div *ngFor="let comment of comments">
            <div class="card rounded shadow border-0 justify-content-center p-4 m-3">
                <h3 class="mx-auto text-primary">Commentario de: {{ comment.name +" "+comment.surname}}</h3>
                <hr>
                <p>
                    <span class="text-muted fs-4">{{ comment.content }}.</span>
                </p>
                <p>Valoracion del producto: {{ comment.valoration }}/5</p>
                <p>Fecha de commentario: {{ comment.created_at | date }}</p>
                <p>Valoracion del pedido: {{ comment.valoration_order}}</p>
                <p>Pais a donde se enviado el pedido: {{ comment.country}}</p>
                <button class="btn rounded-0 btn-delete" (click)="deleteComment(comment)" *ngIf="status != null && ((comment.user_id == user_id) || (role == 'admin'))">
                  Eliminar
                </button>
            </div>
        </div>
    </div>
    <div>
        <form class="container" [formGroup]="addCommentForm" (ngSubmit)="submitComment()" *ngIf="this.comment_write_permission == user_id && !has_comments && status != null && role !== 'admin' && order_id !== 0">
            <div class="row justify-content-center">
                <div class="col-8">
                    <div class="form-floating mt-2">
                        <textarea type="text" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="content" [formControlName]="'content'" placeholder="Elon" name="content" required="required">
                        </textarea>
                        <label for="content" class="form-label">Escribir commentario:</label>
                        <span class="text-danger" *ngIf="!addCommentForm.get('content')?.valid && addCommentForm.get('content')?.touched">El commentario no puede ser vacio</span>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-floating mt-2">
                        <input class="form-control rounded-0 border-top-0 border-start-0 border-end-0" type="number" id="valoration" [formControlName]="'valoration'" name="valoration" min="0" max="5">
                        <label for="valoration" class="form-label">Valoracion:</label>
                        <span class="text-danger" *ngIf="!addCommentForm.get('valoration')?.valid && addCommentForm.get('valoration')?.touched">Valoracion es un numero entre 0 a 5 </span>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <div class="d-grid col-8 mb-5 mx-auto">
                    <button id="submit" class="btn btn-buscar text-light" href="#">Escribir commentario!
                   </button>
                </div>
            </div>
        </form>
        <p class="text-warning text-center fs-2" *ngIf="has_comments && comment_write_permission !== 0">¡Ya tiene una reseña escrita, muchas gracais! Para editar o escribir nueva, tien que borrar la reseña y crear una nueva.</p>
        <ng-template #not>
            <h3 class="text-center text-primary mt-4">No hay commentarios.</h3>
        </ng-template>
    </div>
</main>