<main class="container">
    <form class="my-auto" [formGroup]="loginForm">
        <div class="row mt-4">
            <div class="d-none d-lg-block col-lg-5 col-xl-7 my-auto">
                <img class="img-fluid mb-1" src="../assets/images/img-reg-1.jpg">
            </div>
            <div class="col-12 col-lg-7 col-xl-5 m-auto">
                <h1 class="text-primary">Login</h1>
                <div class="form-floating mt-2">
                    <input type="email" class="form-control rounded-0 border-top-0 border-start-0 border-end-0" id="email" [formControlName]="'email'" placeholder="cool-login" name="email" required="required">
                    <label for="email" class="form-label ">Correo electronico:</label>
                    <span class="text-danger" *ngIf="!loginForm.get('email')?.valid && loginForm.get('email')?.touched">
                              Correo electronico es obligatorio y debe tener formato de correo electronico!
                    </span>
                </div>
                <div class="form-floating mt-2 ">
                    <input type="password" class="form-control rounded-0 border-top-0 border-start-0 border-end-0 " id="password " [formControlName]="'password'" placeholder="1111 " name="password " required="required ">
                    <label for="password" class="form-label ">Contraseña:</label>
                    <span class="text-danger" *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">
                                  La contraseña debe tener como minimo 8 caracteres.
                    </span>
                </div>
                <div class="mt-5">
                    <div class="d-grid col-12 mb-5 mx-auto ">
                        <button class="btn btn-primary" type="submit" (click)="onSignup()">Entrar</button>
                    </div>
                </div>
                <a class="dropdown-item" [routerLink]="[ '/register']" [routerLinkActive]="[ 'active']" [routerLinkActiveOptions]="{exact:true}">Aun no tiene la cuenta de usuario? ¡Crea!</a>
            </div>
        </div>
    </form>
</main>