<header class="container-fluid mt-2">
    <nav class="navbar navbar-light navbar-expand-sm bg-light rounded">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarCollapse" aria-controls="mainNavbarCollapse" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand gradient fs-1 d-none d-md-block" aria-current="page" href="#" data-bs-toggle="offcanvas" data-bs-target="#mi">Muebles Inteligentes</a>
            <a class="navbar-brand mx-xxl-auto gradient fs-1 d-block d-md-none" aria-current="page" href="#" data-bs-toggle="offcanvas" data-bs-target="#mi">MI</a>
            <div class="navbar-collapse collapse" id="mainNavbarCollapse">
                <ul class="navbar-nav justify-content-around w-100">
                    <li class="nav-item fw-bold">
                        <a class="nav-link gradient fs-4 active" href="../html/inicio.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary fs-4" href="../html/productos.html">Productos</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link text-primary fs-4" href="../html/identificate.html "><i class="bi bi-person"></i><span class="d-sm-none d-lg-inline">Identifícate</span></a>
                    </li>
                    <li class="nav-item ">
                        <a class="position-relative nav-link text-primary fs-4" href="#" data-bs-toggle="offcanvas" data-bs-target="#demo">
                            <i class="bi bi-bag"></i><span class="d-sm-none d-lg-inline">Cesta</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!status">
                        <button class="nav-link text-primary border-0 like_nav fs-4" (click)="logout()">
                            <i class="bi bi-box-arrow-right"></i><span class="d-sm-none d-lg-inline">Logout</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="offcanvas offcanvas-start" id="mi">
        <div class="offcanvas-header">
            <h1 class="gradient">MUEBLES INTELIGENTES</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <div class="dropdown d-grid mb-2">
                <button type="button" class="btn btn-buscar text-light dropdown-toggle" data-bs-toggle="dropdown">
                Sobre nosotros
              </button>
                <ul class="dropdown-menu w-100">
                    <li><a class="dropdown-item text-primary" href="#">Historia</a></li>
                    <li><a class="dropdown-item text-primary" href="#">Tecnologias</a></li>
                    <li><a class="dropdown-item text-primary" href="#">Metas</a></li>
                </ul>
            </div>
            <ul class="nav flex-column text-primary">
                <li class="nav-item">
                    <a class="nav-link" href="#">Politica de proteccion de datos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Devoluciones</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="offcanvas color offcanvas-end" id="demo">
        <div class="offcanvas-header">
            <h1 class="gradient-cesta-text">Cesta</h1>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
            <section class="row row-col-1">
                <div class="col-12 mb-2 mb-md-3 mb-xl-4">
                    <article class="card card-shadowed card-product-offside border-0 h-100 mb-3 mx-auto">
                        <img src="../images/cool-mesa.jpeg" class="card-img-top" alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title ">MESA MI-1</h5>
                            <p class="card-text ">Mesa con diseño unico y tecnologia de domotica.</p>
                            <p class="card-text ">300€</p>
                            <div class="d-flex justify-content-center ">
                                <a href="# " class="btn btn-lg px-4 link-cesta-grad text-light ">mas info</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 mb-2 mb-md-3 mb-xl-4 ">
                    <article class="card card-shadowed card-product-offside border-0 h-100 mb-3 mx-auto">
                        <img src="../images/cool-mesa.jpeg" class="card-img-top" alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title ">MESA MI-1</h5>
                            <p class="card-text ">Mesa con diseño unico y tecnologia de domotica.</p>
                            <p class="card-text ">300€</p>
                            <div class="d-flex justify-content-center ">
                                <a href="# " class="btn btn-lg px-4 link-cesta-grad text-light ">mas info</a>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-12 mb-2 mb-md-3 mb-xl-4 ">
                    <article class="card card-shadowed card-product-offside border-0 h-100 mb-3 mx-auto">
                        <img src="../images/cool-mesa.jpeg" class="card-img-top" alt="... ">
                        <div class="card-body ">
                            <h5 class="card-title ">MESA MI-1</h5>
                            <p class="card-text ">Mesa con diseño unico y tecnologia de domotica.</p>
                            <p class="card-text ">300€</p>
                            <div class="d-flex justify-content-center ">
                                <a href="# " class="btn btn-lg px-4 link-cesta-grad text-light ">mas info</a>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <h1 class="text-center gradient-total-text ">TOTAL: 900€</h1>
            <div class="d-flex justify-content-center ">
                <a href="../html/cesta.html " class="btn btn-lg btn-finalizar text-light ">Finalizar la compra &#128521;</a>
            </div>
        </div>
    </div>
</header>
<router-outlet>
</router-outlet>