<header class="container-fluid mt-2">
    <nav class="navbar navbar-light navbar-expand-md bg-light rounded">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbarCollapse" aria-controls="mainNavbarCollapse" aria-expanded="false">
              <span class="navbar-toggler-icon"></span>
          </button>
            <a class="navbar-brand gradient fs-1 d-none d-xl-block" [routerLink]="['/']">Muebles Inteligentes</a>
            <a class=" navbar-brand mx-xxl-auto text-primary fs-1 d-block d-xl-none" [routerLink]="[ '/'] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true}">MI</a>
            <div class=" navbar-collapse collapse" id="mainNavbarCollapse">
                <ul class="navbar-nav justify-content-around w-100 ">
                    <li class="nav-item fw-bold " *ngIf="role==='normal_user' ">
                        <a class="nav-link text-primary fs-4" [routerLink]="[ '/'] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true} ">Inicio</a>
                    </li>
                    <li class="nav-item" *ngIf="role ==='normal_user' || status == null ">
                        <a class="nav-link text-primary fs-4" [routerLink]="[ '/products'] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true} ">Productos</a>
                    </li>
                    <li class="nav-item" *ngIf="role === 'admin'">
                        <div class="dropdown show">
                            <a class="nav-link text-primary fs-4 dropdown-toggle" href="#" role="button" id="dropdownReg" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownReg">
                                <a class="dropdown-item text-primary fs-4" [routerLink]="[ '/products']" [routerLinkActive]="[ 'gradient']" [routerLinkActiveOptions]="{exact:true}">Todos productos</a>
                                <a class="dropdown-item text-primary fs-4" [routerLink]="[ '/products/create']" [routerLinkActive]="[ 'gradient']" [routerLinkActiveOptions]="{exact:true}">Agregar producto nuevo</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item " *ngIf="role !='admin' ">
                        <a class="position-relative nav-link text-primary fs-4 " [routerLink]="[ '/orders/create'] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true} ">
                            <i class="bi bi-bag"></i><span class="d-lg-inline">Cesta</span>
                        </a>
                    </li>
                    <li class="nav-item " *ngIf="role !='normal_user' ">
                        <a class="position-relative nav-link text-primary fs-4" [routerLink]="[ '/users'] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true} ">
                            <i class="bi bi-person-lines-fill "></i><span class="d-lg-inline "> Usuarios</span>
                        </a>
                    </li>
                    <li class="nav-item " *ngIf="status !=null ">
                        <a class="position-relative nav-link text-primary fs-4 " [routerLink]="[ '/orders'] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true} ">
                            <i class="bi bi-archive "></i><span class="d-lg-inline "> Pedidos</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="role =='normal_user' && status !== null">
                        <div class="dropdown show">
                            <a class="nav-link text-primary fs-4 dropdown-toggle" href="#" role="button" id="dropdownReg" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-chat-dots"></i><span class="d-inline d-md-none d-xxl-inline">Mensajeria</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownReg">
                                <a class="dropdown-item text-primary  fs-4" [routerLink]="[ '/chat']" [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true}">Citas</a>
                                <a class="dropdown-item text-primary  fs-4" [routerLink]="[ '/apply']" [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true}">Pedir nueva cita</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item " *ngIf="status !=null ">
                        <a class="position-relative nav-link text-primary fs-4 " [routerLink]="[ '/users', user_id] " [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true} ">
                            <i class="bi bi-person "></i><span class="d-lg-inline ">Cuenta</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="role =='admin'">
                        <a class="nav-link text-primary fs-4" [routerLink]="[ '/chat']" [routerLinkActive]="['gradient']" [routerLinkActiveOptions]="{exact:true}">
                            <i class="bi bi-chat-dots"></i><span class="d-inline d-md-none d-xxl-inline">Mensajeria</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="status===null">
                        <div class="dropdown show">
                            <a class="nav-link text-primary fs-4 dropdown-toggle" href="#" role="button" id="dropdownReg" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="d-sm-none d-lg-inline"></span>Identifícate
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownReg">
                                <a class="dropdown-item text-primary fs-4" [routerLink]="[ '/register']" [routerLinkActive]="[ 'gradient']" [routerLinkActiveOptions]="{exact:true}">Registrarse</a>
                                <a class="dropdown-item text-primary fs-4" [routerLink]="[ '/login']" [routerLinkActive]="[ 'gradient']" [routerLinkActiveOptions]="{exact:true}">Login</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item " *ngIf="status !== null ">
                        <button class="nav-link text-primary border-0 like_nav fs-4 " (click)="logout() ">
                            <i class="bi bi-box-arrow-right "></i><span class="d-inline d-md-none d-xxl-inline">Logout</span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<router-outlet>
</router-outlet>
